@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    'Montserrat', sans-serif; /* Define a Montserrat como fonte padrão do site */
}

body {
  height: 100%;
  width: 100vw;
  background-image: url('../../assets/fundo-branco-02.jpg');
}
